<section>
    <app-notes-filters (filterChange)="onFilterChange($event)" (sortChange)="onSortChange($event)"></app-notes-filters>
</section>
<section class="notes-wrap">
    @if (allNotes.length === 0) {
        <div class="empty">
            There is no notes yet. Create your first note!
        </div>
    } 
    @else {
        <div class="notes-grid">
            @for (note of sortedNotes; track note.id){
                <app-note-item [note]="note"
                    (deleteNote)="onDelete($event)"
                    (saveNote)="onSave($event)"
                    (pinNote)="onPinChange($event)"
                ></app-note-item>
            }
        </div>
    }
</section>